<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <img src="dennis.jpg" alt="fotografia curriculo">
        <h1>Dennis Orion</h1>
        <p>psicólogo CRP 11/12997</p>
        <p>Contatos: Whats: 85 99601-1206</p>
        <p>Calma que depois piora</p>
        <h1>Resumo:</h1>
        <p>Tenho 7 anos de experiência na área da psicologia e como
            Educador, levando também a realizar uma formação na abordagem
            humanista e logo em seguida em uma especialização em
            Psicopedagogia. </p>
        <h1>Experiência</h1>
        <p>Colegio Raio De Luz
            Psicólogo escolar
            abril de 2024 - Present (4 meses)
            Responsável por implantação de projetos para saúde mental.
            Observação do ambiente escolar e de toda escola.
            Reunião com os pais
            Formação para os professores!
            inclusão de projetos para ensino infantil, e fundamental I e II.</p>
        <p>IEP - Instituto de Educação Portal
            Educador social
            setembro de 2022 - junho de 2023 (10 meses)</p>
        <h1>Formação acadêmica</h1>
        <p>Faculdade Maurício de Nassau
            · (2013 - 2019)
        <p>DJ
            Pós-graduação Lato Sensu - Especialização, Psicopedagogia institucional,
            clínica e organizacional  · (2017 - 2019)</p>
        
    </div>
</body>
</html>